link(rel="stylesheet", href="#{req.assetFingerprint('/bower_components/bootstrap/dist/css/bootstrap.' + (process.env.NODE_ENV === 'production' ? 'min.' : '') + 'css')}")
link(rel="stylesheet", href="#{req.assetFingerprint('/bower_components/bootstrap/dist/css/bootstrap-theme.' + (process.env.NODE_ENV === 'production' ? 'min.' : '') + 'css')}")
link(rel="stylesheet", href="#{req.assetFingerprint('/themes/default/style/main.css')}")
if req.isAuthenticated()
  link(rel="stylesheet", href="#{req.assetFingerprint('/themes/default/style/authenticated.css')}")
script(src="#{req.assetFingerprint('/bower_components/jquery/dist/jquery.' + (process.env.NODE_ENV === 'production' ? 'min.' : '') + 'js')}")
script(src="#{req.assetFingerprint('/bower_components/bootstrap/dist/js/bootstrap.' + (process.env.NODE_ENV === 'production' ? 'min.' : '') + 'js')}")
