extends layout

block append resources
  //- AngularJS
  script(src="#{req.assetFingerprint('/bower_components/angular/angular.' + (process.env.NODE_ENV === 'production' ? 'min.' : '') + 'js')}")
  script(src="#{req.assetFingerprint('/bower_components/angular-sanitize/angular-sanitize.' + (process.env.NODE_ENV === 'production' ? 'min.' : '') + 'js')}")

  //- Medium editor
  script(src="#{req.assetFingerprint('/bower_components/medium-editor/dist/js/medium-editor.' + (process.env.NODE_ENV === 'production' ? 'min.' : '') + 'js')}")
  link(rel="stylesheet", href="#{req.assetFingerprint('/bower_components/medium-editor/dist/css/medium-editor.' + (process.env.NODE_ENV === 'production' ? 'min.' : '') + 'css')}")
  link(rel="stylesheet", href="#{req.assetFingerprint('/bower_components/medium-editor/dist/css/themes/bootstrap.' + (process.env.NODE_ENV === 'production' ? 'min.' : '') + 'css')}")

  //- Ord scripts
  script(src="#{req.assetFingerprint('/themes/default/static/app.js')}")
  script(src="#{req.assetFingerprint('/themes/default/static/directives/contenteditable.js')}")
  script(src="#{req.assetFingerprint('/themes/default/static/controllers/AlertBag.js')}")
  script(src="#{req.assetFingerprint('/themes/default/static/controllers/PageEditor.js')}")

block content
  div(ng-controller="PageEditor", ng-cloak)
    div(ng-controller="AlertBag").col-xs-10
      div(ng-repeat="alert in alerts", class="alert alert-{{ alert.type }}", style="animation-duration: {{ (alert.timeout || 0) / 1000 }}s;") {{ alert.message }}
        button(aria-hidden="true", ng-click="closeAlert($index)").close ×

    form(novalidate, ng-submit="submit()", name="pageForm").css-form
      input(id="pageData_id", type="hidden", ng-model="data._id", value="#{ page._id }")

      main.col-xs-10(role="main", contenteditable, required, minlength="1", ng-model="data.content")
        h1 #{ page.title || 'Page heading' }

      div.col-xs-10
        p.text-info Select some text and click on toolbar icon to set style for that text

      aside(ng-class="state === 'metaDataEditor' ? 'open' : 'closed'", ng-show="state !== 'pageView'")#meta.well.col-xs-10.col-sm-6.col-md-4
        h1.h3 Meta data for the page
        button(type="button", ng-click="state = (state === 'metaDataEditor' ? 'pageEditor' : 'metaDataEditor')").toggle.btn.btn-default Meta data
        div.form-group
          label(for="pageDataTitle") Title
          input(id="pageDataTitle", type="text", required, minlength="1", ng-model="data.title", value="#{ page.title }").form-control
        div.form-group
          label(for="pageDataPublishedAt") Published
          input(id="pageDataPublishedAt", type="datetime-local", required, minlength="1", ng-model="data.publishedAt", value="#{ page.publishedAt }").form-control
        div.form-group
          label(for="pageDataParent") Parent page
          select(id="pageDataParent", ng-options="parentOption._id as parentOption.url for parentOption in parentOptions", ng-model="data.parent").form-control
        div.form-group
          div.checkbox
            label(for="pageDataShowInMenu")
              input(type="checkbox", id="pageDataShowInMenu", ng-model="data.showInMenu", checked="( page.showInMenu ? 'true' : undefined )")
              | Include in menu

      div.col-xs-10
        input(type="submit", value="Save", ng-disabled="pageForm.$invalid || submissionState === 'submitting' || pageForm.$pristine").btn.btn-primary
